
@font-face {
  font-family: 'Soligant';
  src: url('/fonts/Soligant.otf') format('opentype');
  /* Add additional formats if necessary */
  font-weight: normal; /* Adjust as needed */
  font-style: normal; /* Adjust as needed */
}

.soligant{
  font-family: 'Soligant', sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  width: 100vw;
  min-height: 100vh;
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: hidden;
}
.register-btn {
  background-color: #FFFFFF33; 
  color: #FFFFFF; 
  border: 1px solid white; 
}




@media screen and (max-width: 600px) {
  .hero-bg {
    height: 50vh !important;
  }
}
